@import "bootstrap/scss/bootstrap";

#noResultsMessage{
    display: none;
    color: red;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;

}
.custom-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1em 10em;
    padding: 1em 10em;
}

footer {
    margin-top: 5em;
    font-size: 0.7rem;
}

@media (max-width : 767px){
    .custom-container{
        align-items: center;
        display: flex;
        justify-content: center;
        margin: .5em .7em;
        padding: .5em .7em;
    }
}